@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="~/images/engeman.png" alt="" class="img-fluid" style="margin-top: 50px; margin-bottom: 20px;">
    <h2>Atenção!</h2>
    <div class="stylized-text">
        As informações apresentadas no relatório referem-se a ordens de manutenção anteriores a implantação do modulo de manutenção industrial, ocorrida em 08/11/2021.
        A consulta exibe uma lista de informações transacionais do antigo sistema Engeman, permitindo a filtragem por diversos campos para facilitar a análise.
        Além disso, os dados podem ser exportados para Excel, possibilitando aos usuários a exploração e busca de informações relevantes conforme suas necessidades.
    </div>
</div>

<style type="text/css">
    .stylized-text {
        font-family: 'Arial', sans-serif; /* Fonte do texto */
        font-size: 18px; /* Tamanho do texto */
        color: #333; /* Cor do texto */
        background-color: #f9f9f9; /* Cor de fundo */
        padding: 20px; /* Espaçamento interno */
        border: 2px solid #ccc; /* Borda */
        border-radius: 10px; /* Bordas arredondadas */
        text-align: justify; /* Justificar texto */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra do texto */
        margin: 20px; /* Espaçamento externo */
        line-height: 1.6; /* Espaçamento entre linhas */
    }
</style>
