@{
    ViewData["Title"] = "Lista de OS";
}

<h1> Lista de Ordens </h1>

<iframe src="http://sqlcluster2019/ReportServer/Pages/ReportViewer.aspx?%2fRelat%c3%b3rio+Engeman%2fListaOSEngeman&rs:Command=Render" style="width:100%; height:80vh; width:100%; border:none;"></iframe>

